# dependencies
/node_modules
/.pnp
.pnp.*
__pycache__

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# debug
npm-debug.log*

# env files (secrets)
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# playwright
/test-results
/playwright-report
/e2e/.auth
.env.test.local
